.buttons {
  max-width: 700px;
  min-width: 300px;
  display: flex;
  justify-content: space-around;

  .--btn {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 7px;
    margin: 15px;
    font-size: 1em;
    font-weight: bold;
    width: 80px;
  }
}
