* {
  box-sizing: border-box;
}
.details-page {
  box-sizing: border-box;
  padding: 50px 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  max-width: 700px;
  min-width: 300px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  @media all and (min-width: 760px) {
    font-size: 20px;
  }
  @media all and (max-width: 330px) {
    width: 300px;
  }

  &__name {
    padding: 15px 0;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    color: white;
  }
  &__container {
    padding: 15px;
  }
  .description {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    @media all and (min-width: 760px) {
      padding: 0 20px;
    }

    &__image {
      grid-column: 1;
      grid-row: 2;
      width: 140px;
      justify-self: right;
    }
    &__image_back {
      grid-column: 2;
      grid-row: 2;
      width: 140px;
    }
    &__types {
      grid-column: 1;
      grid-row: 1;
      color: white;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        display: inline-block;
        margin: 0 10px;
        padding: 5px 5px;
        border-radius: 15px;
      }
    }
    &__id {
      margin: 0;
      grid-column: 2;
      grid-row: 1;
    }
    &__translated_name {
      grid-row: 3;
      grid-column: span 2;
      text-align: left;
      font-weight: bold;
      margin: 0;
    }
    &__text {
      grid-row: 4;
      grid-column: span 2;
      text-align: left;
    }
  }
  .profile {
    .profile__wrap {
      text-align: left;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding-bottom: 20px;
      @media all and (min-width: 760px) {
        column-gap: 40px;
        padding: 0 20px 20px;
      }
    }

    &__text {
      margin: 0 10px;
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      text-align: right;
      @media all and (max-width: 330px) {
        display: flex;
        flex-direction: column;
        text-align: left;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      &__span {
        width: 50%;
        font-weight: bold;
        text-align: left;
      }
    }
  }
  .evolutions {
    .evolution {
      display: flex;
      justify-content: space-around;
      align-items: center;
      &__list {
        list-style: none;
        padding: 0;
        display: flex;
        width: 100px;
        img {
          opacity: 0.5;
        }
      }
      .currentPokemon {
        img {
          opacity: 1;
        }
        box-shadow: 0px 0px 3px 2px rgb(151, 151, 151),
          0px 0px 5px 4px rgb(204, 204, 204);
        border-radius: 50%;
      }
    }
  }
}

.loading {
  height: 100vh;
  .pokemon {
    width: 200px;
    height: 200px;
    margin: 25% auto;
    border: 5px solid black;
    border-radius: 50%;
    background: linear-gradient(
      red 0%,
      red 50%,
      black 50%,
      black 55%,
      white 55%,
      white 100%
    );
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &::after {
      position: absolute;
      transform: translateY(70px);
      content: "";
      display: block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: rgb(255, 255, 255);
      border: 7px solid black;
    }
  }
}

.--title {
  grid-column: span 2;
  margin: 10px 0;
  padding: 0 10px;
  color: white;
  font-weight: 400;
  text-align: left;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
